<div
  class="container-fluid d-flex flex-column align-items-center justify-content-start"
>
  <!-- Reusable Filter Bar -->
  <reusable-filter-bar
    [showAddButton]="false"
    [showRecycleButton]="false"
    [showFilterButton]="false"
    (searchChange)="onSearchChange($event)"
    (filterClick)="openFilterModal()"
    (exportPdf)="downloadAsPDF()"
    (exportExcel)="downloadAsExcel()"
    (print)="printPDF()"
    (refresh)="refreshData()"
  ></reusable-filter-bar>

  <!-- Statistics Table Section -->
  <app-table-data
    [data]="statisticsData"
    [columns]="tableColumns"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [totalCount]="totalCount"
    [pageSize]="pageSize"
    [currentUserRole]="currentUserRole"
    [showPagination]="true"
    [trackByField]="'id'"
    (pageChanged)="onPageChange($event)"
    (pageSizeChanged)="onPageSizeChange($event)"
  ></app-table-data>
</div>
