<div class="user-charts">
  <div class="parent">
    <!-- Cards section -->
    <app-dashboard-cards class="dashboard-cards"
      >Dashboard Cards</app-dashboard-cards
    >

    <!-- stock Barline section with chart -->
    <app-stock-chart class="div2">Stock Chart</app-stock-chart>

    <!-- Recent Activity section -->
    <app-recent-activity class="div3">Recent Activity</app-recent-activity>

    <!-- Task Completion rate section -->
    <app-task-completion-rate class="div4"
      >Task Completion Rate</app-task-completion-rate
    >

    <!-- NEW: Sensor Chart Component -->
    <app-sensor-chart class="sensor-chart">Sensor Chart</app-sensor-chart>

    <app-admin-attendance-table class="div5"
      >Admin Attendance Table</app-admin-attendance-table
    >

    <app-task-pie-chart class="div6">Task Pie Chart</app-task-pie-chart>
  </div>
</div>
