

<div class="grid-container">
  <div class="item item1">
    <app-dashboard-cards></app-dashboard-cards>
  </div>

  <div class="item item2">
    <app-stock-chart></app-stock-chart>
  </div>
  <div class="item item3">
    <app-task-completion-rate></app-task-completion-rate>
  </div>
  <div class="item item4">
    <app-sensor-chart></app-sensor-chart>
  </div>
  <div class="item item5">
    <app-recent-activity></app-recent-activity>
  </div>
  <div class="item item6">
    <app-task-pie-chart></app-task-pie-chart>
  </div>
  <div class="item item7">
    <app-admin-attendance-table></app-admin-attendance-table>
  </div>
</div>
