<div
  class="container-fluid d-flex flex-column align-items-center justify-content-start"
>
  <!-- Title -->
  <app-page-title translationKey="FLOOR_MANAGEMENT_OVERVIEW.DELETED_TITLE" />

  <!-- Reusable Filter Bar -->
  <reusable-filter-bar
    [showAddButton]="false"
    [showRecycleButton]="false"
    backButtonRoute="/admin/floors"
    (searchChange)="onSearchChange($event)"
    (exportPdf)="downloadAsPDF()"
    (exportExcel)="downloadAsExcel()"
    (print)="printPDF()"
  ></reusable-filter-bar>

  <!-- Reusable Table Section -->
  <app-table-data
    [data]="deletedFloors"
    [columns]="tableColumns"
    [actions]="tableActions"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [totalCount]="totalCount"
    [pageSize]="pageSize"
    [currentUserRole]="currentUserRole"
    [showPagination]="true"
    [trackByField]="'id'"
    (pageChanged)="onPageChange($event)"
    (pageSizeChanged)="onPageSizeChange($event)"
  ></app-table-data>
</div>
