<!-- Modal -->
<div class="modal fade show d-block">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <app-page-title
          translationKey="FILTER_SECTION.MODAL.TITLE"
        ></app-page-title>
      </div>
      <div class="modal-body">
        <!-- Category Selection -->
        <div class="form-group">
          <label for="category" class="step-label">
            {{ "FILTER_SECTION.MODAL.CATEGORY_LABEL" | translate }}
          </label>
          <select
            id="category"
            class="form-control"
            [(ngModel)]="selectedCategory"
            (change)="onCategoryChange($event)"
          >
            <option value="">
              {{ "FILTER_SECTION.MODAL.ALL_CATEGORIES" | translate }}
            </option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>

      <div
        class="modal-footer d-flex justify-content-between align-items-center"
      >
        <div class="mx-auto d-flex gap-2">
          <button type="button" class="btn apply-btn" (click)="applyFilter()">
            {{ "attendance.FILTER" | translate }}
          </button>
          <button
            type="button"
            class="btn clear-btn me-2"
            (click)="closeFilterModal()"
          >
            {{ "attendance.CANCEL" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
