<div class="user-charts">
  <div class="card-group">
    <div class="card total-users">
      <div class="card-body">
        <h5 class="card-title">
          {{ "USER_MANAGEMENT_OVERVIEW.TOTAL_USERS" | translate }}
        </h5>
        <p class="card-text">{{ totalUsers }}</p>
      </div>
    </div>

    <div class="card total-managers">
      <div class="card-body">
        <h5 class="card-title">
          {{ "USER_MANAGEMENT_OVERVIEW.TOTAL_MANAGERS" | translate }}
        </h5>
        <p class="card-text">{{ totalManagers }}</p>
      </div>
    </div>

    <div class="card total-supervisors">
      <div class="card-body">
        <h5 class="card-title">
          {{ "USER_MANAGEMENT_OVERVIEW.TOTAL_SUPERVISORS" | translate }}
        </h5>
        <p class="card-text">{{ totalSupervisors }}</p>
      </div>
    </div>

    <div class="card total-cleaners">
      <div class="card-body">
        <h5 class="card-title">
          {{ "USER_MANAGEMENT_OVERVIEW.TOTAL_CLEANERS" | translate }}
        </h5>
        <p class="card-text">{{ totalCleaners }}</p>
      </div>
    </div>
  </div>
</div>
