<div class="forgot-password-card">
  <div class="back-to-login w-25">
    <a [routerLink]="'/public/login'" class="back-link">
      <span class="arrow-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-left"
        >
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
      </span>
      {{ "auth.BACK_TO_LOGIN" | translate }}
    </a>
  </div>

  <h1 class="title">{{ "auth.FORGET_PASSWORD_TITLE" | translate }}</h1>
  <p class="subtitle">{{ "auth.FORGET_PASSWORD_SUBTITLE" | translate }}</p>

  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="forgot-password-form"
  >
    <div class="form-group">
      <input
        type="email"
        id="email"
        formControlName="email"
        required
        placeholder=" "
      />
      <label for="email">{{ "auth.EMAIL_LABEL" | translate }}</label>
    </div>

    <app-applly-btn
      [label]="'auth.SEND_RESET_LINK' | translate"
      [disabled]="forgotPasswordForm.invalid"
      (clicked)="onSubmit()"
    />
  </form>

  @if (email?.touched && email?.invalid) {
  <div class="error-message">
    @if (email?.errors?.['required']) {
    <small>{{ "auth.EMAIL_REQUIRED" | translate }}</small>
    } @if (email?.errors?.['email']) {
    <small>{{ "auth.EMAIL_INVALID" | translate }}</small>
    }
  </div>
  }
</div>
