<!-- Leaves Filter Modal -->
<div
  class="modal fade show text-start"
  style="max-width: 100%; display: block"
  [ngClass]="{ show: true }"
  tabindex="-1"
>
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    [ngClass]="{ 'modal-sm': isSmallScreen }"
  >
    <div class="modal-content">
      <div class="my-profile-title">
        <div class="title-container">
          <div class="title-bage"></div>
          <div class="title-info">
            <h1>{{ "attendance.LEAVE_TITLE" | translate }}</h1>
          </div>
        </div>
      </div>
      <div class="modal-body custom-scroll">
        <div class="row">
          <!-- First Column -->
          <div
            [class.col-md-12]="selectedLevel === 'area'"
            [class.col-md-6]="selectedLevel && selectedLevel !== 'area'"
          >
            <!-- Role Selection -->
            <div class="mb-3">
              <label for="role" class="shift-form-label">
                {{ "attendance.ROLE" | translate }}
              </label>
              <select
                id="role"
                class="form-control"
                name="role"
                [(ngModel)]="selectedRole"
              >
                <option value="" disabled selected>
                  {{ "attendance.SELECT_ROLE" | translate }}
                </option>
                @for (role of roles; track role) {
                <option [value]="role.id">
                  {{ role.name }}
                </option>
                }
              </select>
            </div>

            <!-- Status Selection -->
            <div class="mb-3">
              <label for="status" class="shift-form-label">
                {{ "attendance.STATUS" | translate }}
              </label>
              <select
                name="selectedStatus"
                class="form-select"
                [(ngModel)]="selectedStatus"
              >
                <option value="" disabled selected>
                  {{ "attendance.SELECT_STATUS" | translate }}
                </option>
                @for (status of statuses; track status) {
                <option [value]="status.id">
                  {{ status.name }}
                </option>
                }
              </select>
            </div>

            <!-- Date From -->
            <div class="mb-3">
              <label for="dateFrom" class="shift-form-label">
                {{ "attendance.START_DATE" | translate }}
              </label>
              <input
                type="date"
                id="dateFrom"
                class="form-control"
                name="dateFrom"
                [(ngModel)]="dateFrom"
              />
            </div>

            <!-- Date To -->
            <div class="mb-3">
              <label for="dateTo" class="shift-form-label">
                {{ "attendance.END_DATE" | translate }}
              </label>
              <input
                type="date"
                id="dateTo"
                class="form-control"
                name="dateTo"
                [(ngModel)]="dateTo"
              />
            </div>

            <!-- Level Dropdown -->
            <div class="mb-3">
              <label for="level" class="shift-form-label">
                {{ "attendance.SELECT_LOCATION" | translate }}
              </label>
              <select
                [(ngModel)]="selectedLevel"
                name="selectedLevel"
                class="form-select"
                (change)="onLevelChange()"
              >
                <option value="" disabled selected>
                  {{ "attendance.SELECT_LOCATION" | translate }}
                </option>
                @for (level of levels; track level) {
                <option [value]="level">
                  {{ level }}
                </option>
                }
              </select>
            </div>
            @if (levels.includes(selectedLevel)) {
            <div>
              <!-- Country Selection -->
              <div class="mb-3">
                <label for="country" class="shift-form-label">
                  {{ "attendance.COUNTRY" | translate }}
                </label>
                <select
                  id="country"
                  class="form-control"
                  name="country"
                  [(ngModel)]="selectedCountry"
                  (change)="onCountryChange()"
                >
                  <option value="" disabled selected>
                    {{ "attendance.SELECT_COUNTRY" | translate }}
                  </option>
                  @for (country of countries; track country) {
                  <option [value]="country.name">
                    {{ country.name }}
                  </option>
                  }
                </select>
              </div>
              <!-- Area Selection -->
              @if ( [ 'area', 'city', 'Organization', 'Building', 'Floor',
              'Section', 'Point' ].includes(selectedLevel) ) {
              <div class="mb-3">
                <label for="area" class="shift-form-label">
                  {{ "attendance.AREA" | translate }}
                </label>
                <select
                  [(ngModel)]="selectedArea"
                  id="area"
                  name="selectedArea"
                  class="form-control"
                  (change)="onAreaChange()"
                >
                  <option value="" disabled selected>
                    {{ "attendance.SELECT_AREA" | translate }}
                  </option>
                  @for (area of areas; track area) {
                  <option [value]="area.id">
                    {{ area.name }}
                  </option>
                  }
                </select>
              </div>
              }
            </div>
            }
          </div>

          <!-- Second Column (Conditional Display Based on Level Selection) -->
          @if (selectedLevel) {
          <div class="col-md-6">
            <!-- Conditional Country/Area/City/Organization Selection Based on Level -->
            @if (levels.includes(selectedLevel)) {
            <div>
              <!-- City Selection -->
              @if ( [ 'city', 'Organization', 'Building', 'Floor', 'Section',
              'Point' ].includes(selectedLevel) ) {
              <div class="mb-3">
                <label for="city" class="shift-form-label">
                  {{ "attendance.CITY" | translate }}
                </label>
                <select
                  [(ngModel)]="selectedCity"
                  id="city"
                  name="selectedCity"
                  class="form-control"
                  (change)="onCityChange()"
                >
                  <option value="" disabled selected>
                    {{ "attendance.SELECT_CITY" | translate }}
                  </option>
                  @for (city of cities; track city) {
                  <option [value]="city.id">
                    {{ city.name }}
                  </option>
                  }
                </select>
              </div>
              }
            </div>
            }
            <!-- Organization, Building Selection and Conditional Floor, Section, Point -->
            @if ( [ 'Organization', 'Building', 'Floor', 'Section', 'Point'
            ].includes(selectedLevel) ) {
            <div>
              <!-- Organization Selection -->
              <div class="mb-3">
                <label class="shift-form-label">
                  {{ "attendance.ORGANIZATION" | translate }}
                </label>
                <select
                  [(ngModel)]="selectedOrganization"
                  name="selectedOrganizations"
                  class="form-select"
                  (change)="onOrganizationChange()"
                >
                  <option value="" disabled selected>
                    {{ "attendance.SELECT_ORGANIZATION" | translate }}
                  </option>
                  @for (org of organizations; track org) {
                  <option [value]="org.id">
                    {{ org.name }}
                  </option>
                  }
                </select>
              </div>
              <!-- Building Selection -->
              @if ( ['Building', 'Floor', 'Section', 'Point'].includes(
              selectedLevel ) ) {
              <div class="mb-3">
                <label class="shift-form-label">
                  {{ "attendance.BUILDING" | translate }}
                </label>
                <select
                  [(ngModel)]="selectedBuilding"
                  name="selectedBuildings"
                  class="form-select"
                  (change)="onBuildingChange()"
                >
                  <option value="" disabled selected>
                    {{ "attendance.SELECT_BUILDING" | translate }}
                  </option>
                  @for (building of buildings; track building) {
                  <option [value]="building.id">
                    {{ building.name }}
                  </option>
                  }
                </select>
              </div>
              }
            </div>
            }
            <!-- Floor and Point in the Same Row -->
            @if (['Floor', 'Section', 'Point'].includes(selectedLevel)) {
            <div>
              <!-- Floor Selection -->
              <div class="mb-3">
                <label class="shift-form-label">
                  {{ "attendance.FLOOR" | translate }}
                </label>
                <select
                  [(ngModel)]="selectedFloor"
                  name="selectedFloors"
                  class="form-select"
                  (change)="onFloorChange()"
                >
                  <option value="" disabled selected>
                    {{ "attendance.SELECT_FLOOR" | translate }}
                  </option>
                  @for (floor of floors; track floor) {
                  <option [value]="floor.id">
                    {{ floor.name }}
                  </option>
                  }
                </select>
              </div>
              <!-- Section Selection -->
              @if (['Section', 'Point'].includes(selectedLevel)) {
              <div class="mb-3">
                <label class="shift-form-label">
                  {{ "attendance.SECTION" | translate }}
                </label>
                <select
                  [(ngModel)]="selectedSection"
                  name="selectedSections"
                  class="form-select"
                  (change)="onSectionChange()"
                >
                  <option value="" disabled selected>
                    {{ "attendance.SELECT_SECTION" | translate }}
                  </option>
                  @for (section of sections; track section) {
                  <option [value]="section.id">
                    {{ section.name }}
                  </option>
                  }
                </select>
              </div>
              }
              <!-- Point Selection -->
              @if (selectedLevel === 'Point') {
              <div class="mb-3">
                <label class="shift-form-label">
                  {{ "attendance.POINT" | translate }}
                </label>
                <select
                  [(ngModel)]="selectedPoint"
                  name="selectedPoints"
                  class="form-select"
                >
                  <option value="" disabled selected>
                    {{ "attendance.SELECT_POINT" | translate }}
                  </option>
                  @for (point of points; track point) {
                  <option [value]="point.id">
                    {{ point.name }}
                  </option>
                  }
                </select>
              </div>
              }
            </div>
            }
          </div>
          }
        </div>
      </div>

      <div class="mx-auto d-flex gap-2">
        <button type="button" class="btn apply-btn" (click)="applyFilter()">
          {{ "attendance.FILTER" | translate }}
        </button>
        <button
          type="button"
          class="btn clear-btn me-2"
          (click)="closeFilterModal()"
        >
          {{ "attendance.CANCEL" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
