<div class="set-password-card">
  <h1 class="title">{{ "auth.SET_PASSWORD_TITLE" | translate }}</h1>
  <p class="subtitle">{{ "auth.SET_PASSWORD_SUBTITLE" | translate }}</p>

  <form
    [formGroup]="setPasswordForm"
    (ngSubmit)="onSubmit()"
    class="set-password-form"
  >
    <div class="form-group">
      <input
        type="password"
        id="new-password"
        formControlName="newPassword"
        required
        placeholder=" "
        minlength="8"
      />
      <label for="new-password">{{
        "auth.CREATE_PASSWORD" | translate
      }}</label>
    </div>

    <div class="form-group">
      <input
        type="password"
        id="confirm-password"
        formControlName="confirmPassword"
        required
        placeholder=" "
        minlength="8"
      />
      <label for="confirm-password">{{
        "auth.CONFIRM_PASSWORD" | translate
      }}</label>
    </div>

    <app-applly-btn
      [label]="'auth.SET_PASSWORD' | translate"
      [disabled]="setPasswordForm.invalid"
      [loading]="loading"
      (clicked)="onSubmit()"
    />
  </form>
  <!-- Display validation error message -->
  @if (newPassword?.touched && newPassword?.invalid) {
  <div class="error-message">
    @if (newPassword?.errors?.['required']) {
    <small>{{ "auth.PASSWORD_REQUIRED" | translate }}</small>
    } @if (newPassword?.errors?.['minlength']) {
    <small>{{ "auth.PASSWORD_MIN_LENGTH" | translate }}</small>
    } @if (newPassword?.errors?.['pattern']) {
    <small>{{ "auth.PASSWORD_PATTERN" | translate }}</small>
    }
  </div>
  }
  <!-- Display validation error message -->
  @if (confirmPassword?.touched && confirmPassword?.invalid) {
  <div class="error-message">
    @if (confirmPassword?.errors?.['required']) {
    <small>{{ "auth.CONFIRM_PASSWORD_REQUIRED" | translate }}</small>
    } @if (confirmPassword?.errors?.['minlength']) {
    <small>{{ "auth.CONFIRM_PASSWORD_MIN_LENGTH" | translate }}</small>
    } @if (setPasswordForm.errors?.['mismatch']) {
    <small>{{ "auth.PASSWORD_MISMATCH" | translate }}</small>
    }
  </div>
  }
</div>
