.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  
    width: auto;
    height: 78px;
  
    background: #E5E7E9;
  }
  
  .page-title h1 {
  
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%; /* 30px */
    text-align: center;
  
    color: #0A2B8D;
  
    /* Flex properties inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  