<div
  class="container-fluid d-flex flex-column align-items-center justify-content-start"
>
  <!-- Title -->
  <app-page-title translationKey="titles.PROVIDER_MANAGEMENT_OVERVIEW" />

  <!-- Reusable Filter Bar -->
  <reusable-filter-bar
    [showAddButton]="isAdmin()"
    [showRecycleButton]="isAdmin()"
    [showFilterButton]="false"
    [recycleButtonRoute]="'/admin/deleted-providers'"
    (searchChange)="onSearchChange($event)"
    (exportPdf)="downloadAsPDF()"
    (exportExcel)="downloadAsExcel()"
    (print)="printPDF()"
    (addClick)="openAddModal()"
  ></reusable-filter-bar>

  <!-- Reusable Table Section -->
  <app-table-data
    [data]="providers"
    [columns]="tableColumns"
    [actions]="tableActions"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [totalCount]="totalCount"
    [pageSize]="pageSize"
    [currentUserRole]="currentUserRole"
    [showPagination]="true"
    [trackByField]="'id'"
    (pageChanged)="onPageChange($event)"
    (pageSizeChanged)="onPageSizeChange($event)"
  ></app-table-data>

  <!-- Provider Modal -->
  <app-provider-modal
    [provider]="selectedProvider"
    [isModalOpen]="showProviderModal"
    [actionType]="modalActionType"
    (closeModalEvent)="closeProviderModal()"
    (reloadProvidersEvent)="loadProviders()"
  ></app-provider-modal>
</div>
